/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 15px 30px;
}

/* Logo */
.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* Menú */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    transition: background 0.3s;
}

.menu li a:hover {
    background-color: #334155;
    border-radius: 4px;
}
