* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-color: var(--color-bg-main);
  padding: 20px;
}


.genre {
  display: inline-block;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #e8c8cb;
  border-radius: 8px;
}


.main-content {
  flex-grow: 1;
  background-color: #ECDFC4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.imgCover {
  max-width: 60vh;
  min-width: 55vh;
}


.albums-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 31%;
  background-color: #ECDFC4;
}


.albums-card {
  display: flex;
  flex-direction: column;
  margin: 10px 1%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 31%;


}

.card {
  background-color: #ECDFC4;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}


.Loader {
  margin: 20px auto;
}
 
.footer {
  background-color: #734E57;
  padding: 20px;
  color: white;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 2.4em;
  }
}
